<div class = "container-fluid">
<div class="row">
    <div class="col-4 text-center mb-4" style="color: green">
      <h5>THƯ VIỆN</h5>
      <h5>TRƯỜNG TIỂU HỌC PHONG THẠNH TÂY A</h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
      <h2 class="text-uppercase align-items-center d-flex justify-content-center" style="color: red">
        <%= link_to image_tag("logo-sach.png", alt: "Logo", style:"width: 35px; height: 35px"), 'http://rubyonrails.org/', style: "margin-right: 20px" %>
        Quản lý cho học sinh mượn sách
      </h2>
</div>
