<h1>Editing ql muon sach</h1>

<%= render "form", ql_muon_sach: @ql_muon_sach %>

<br>

<div>
  <%= link_to "Show this ql muon sach", @ql_muon_sach %> |
  <%= link_to "Back to ql muon saches", ql_muon_saches_path %>
</div>
